<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<meta charset="UTF-8">
<title>Edit book</title>
</head>
<body>
	<h1 style="text-align: center; margin-top: 50px; margin-bottom: 50px">Book
		Inventory</h1>
	<div class="container">
		<div class="jumbotron">
			<h2>Edit Book</h2>
			<form action="#" th:action="@{/update/{id}(id=${book.id})}"
				th:object="${book}" method="post">
				<label for="title">Title</label> <input type="text"
					class="form-control" name="title" th:field="*{title}" id="title"
					placeholder="Title"> <label for="author">Author</label> <input
					type="text" class="form-control" th:field="*{author}" id="author"
					placeholder="Author"> <label for="quantity">Quantity</label>
				<input type="text" class="form-control" th:field="*{quantity}"
					id="quantity" placeholder="Quantity"> <label for="genre">Genre</label>
				<input type="text" class="form-control" th:field="*{genre}"
					id="genre" placeholder="Genre"> <label for="price">Price</label>
				<input type="number" class="form-control" th:field="*{price}"
					id="price" placeholder="Price" step="0.01"> <br>
				<button class="btn" style="background-color: #1295AF; color: white"
					type="submit" id="submit-form">Update</button>
			</form>
		</div>
	</div>
</body>
</html>